package ${package}.dao;

import ${package}.domain.${className}DO;

import java.util.List;
import java.util.Map;

import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Repository
public interface ${className}Dao {

	${className}Dto selectByPrimaryKey(${pk.attrType} ${pk.attrname});
	
	List<${className}Dto> selectObjectListPage(${className}Query ${className}Query);

	List<${className}Dto> selectByObjectList(${className}Query ${className}Query);

	int selectObjectListPageTotal(${className}Query ${className}Query);
	
	int insertSelective(${className}DO ${classname});
	
	int updateByPrimaryKeySelective(${className}DO ${classname});
	
	int deleteByPrimaryKey(${pk.attrType} ${pk.columnName});
}
