package com.mryx.grampus.pop.api.request.kitchen;


import com.mryx.grampus.pop.api.bean.common.SystemRequest;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public class Delete${className}Request extends SystemRequest {
    private Integer id;

    public Integer getId() {
        return id;
    }

    public Delete${className}Request setId(Integer id) {
        this.id = id;
        return this;
    }

    @Override
    public String toString() {
        final StringBuffer sb = new StringBuffer("Delete${className}Request{");
        sb.append("id=").append(id);
        sb.append('}');
        return sb.toString();
    }
}
