package ${package}.service;

import ${package}.domain.${className}DO;

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface I${className}Service {
	
	${className}Dto fetch${className}(${pk.attrType} ${pk.attrname});
	
	List<${className}Dto> fetch${className}ListPage(${className}Query ${className}Query);
	
	int fetch${className}ListCount(${className}Query ${className}Query);
	
	int create${className}(${className}DO ${classname});
	
	int update${className}(${className}DO ${classname});
	
	int delete${className}(${pk.attrType} ${pk.attrname});
}
